<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://i.pinimg.com/originals/85/95/f4/8595f4b711e503bc72fe396e5043e0c2.png" class="me-2"
                height="40" alt="" loading="lazy" />
            <small>Hospital Central</small>
        </a>
        <a class="user-icon" href="#">
            <img src="https://cdn-icons-png.flaticon.com/512/5087/5087607.png" class="me-2" height="50" alt=""
                loading="lazy" />
        </a>
    </div>
</nav>