.container-fluid {
    height: 100vh;
    /* Asegura que ocupe toda la vista */
    background-image: url('https://img.freepik.com/fotos-premium/fondo-abstracto-verde-pastel-suaves-ondas-dinamicas_605681-228.jpg');
    background-size: cover;
    /* Asegura que la imagen cubra todo el contenedor */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    position: relative;
    /* Asegura que los hijos absolutos se posicionen correctamente */
    padding-top: 10px;
}