<div class="list-group list-group-light shadow-4">
    <a routerLink="/home" routerLinkActive="active" mdbRipple
        class="list-group-item list-group-item-action px-3 border-0 active" href="">Panel principal</a>
    <a mdbRipple class="list-group-item list-group-item-action px-3 border-0" href="">Gestión pacientes</a>
    <a mdbRipple class="list-group-item list-group-item-action px-3 border-0" href="">Gestión citas</a>
    <a mdbRipple class="list-group-item list-group-item-action px-3 border-0" href="">Facturación</a>
    <a mdbRipple class="list-group-item list-group-item-action px-3 border-0" href="">Notificaciones</a>
</div>